<div class="p-3 text-center ">
    <h1 class="mb-3">MY FRIENDS</h1>
     <h4 class="mb-3">Search Friends Here</h4>
			<%= form_tag search_friend_path, method: :get do |form| %>
		<div class="row">
			<div class="col-9">
	   			 <div class="active-purple-3 active-purple-4 mb-4">

					<%= text_field_tag :friend, params[:friend], placeholder:"Enter your Friend Name here", class:"form-control" 	%>
				</div>	

			</div>
			<div class="col-3">
				<%= button_tag type: :submit, class:"btn btn-success" do  %>
					<%= 'Search'%>
				<%end%>
			</div>
		</div>
	<% end %>
</div>
<!--
<% if @friends %>
<div class= "mt-5">
	<% @friends.each do |friend| %>
		<strongc>Email:</strong><%=friend.email %>
		<strong>First Name:</strong><%=friend.first_name%>
		<strong>Last Name:</strong><%=friend.last_name%>
	<% end %>	
	
</div>
<%end%>
-->

<div>
	<table class="table able-striped table-hover mt-4">
		<thead>
			<tr>
				<th scope="col">Email</th>
				<th scope="col">Full Name</th>
				
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<% if @friends %>
			<% @friends.each do |friend| %>
			<tr>
				<th scope="row"><%= friend.email %></th>
				<td><%= friend.full_name %></td>
				
				<td>
				<% if current_user.not_friend_with?(friend.id) %>	
					<%= link_to 'Follow friend ?',friendships_path(friend:friend), class:"btn btn-success ml-4", method: :post %>
				<%else%>
					<span class="badge bg-danger">already friend</span>
				<%end%>
					<%= link_to 'View friends ?',user_path(friend), class:"btn btn-success ml-4" %>
				</td>

			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<% if @friends %>
	<%= render 'layouts/friend' %>
<%end%>

